/** Allgemeine Formatierung**/
h2, div, .images{
    text-align: center;
    color: white;
    font-family: "calibri";
}

h4 {
    text-align: center;
    color: gray;
}

body{
    background-color: #262626;
}

.xaxis line, .yaxis line, .xaxis path, .yaxis path, .xaxis text, .yaxis text{
    stroke: white;
}

svg {
    position: relative;
    display: block;
    margin: 0 auto;
}

#dataWrapper{
    margin: auto;
    position: relative;
    display: block;
    margin-top: -910px;
    width: 990px;
    left: 115px;
}

#visGer{
    right: 200px;
    display: block;
}

#visRace{
    height: 500px;
    width: 500px;
    position: relative;
    display: block;
    margin-top: -550px;
    margin-left: 51%;
}

#visFall{
    height: 170px;
    width: 700px;
    position: relative;
    display: block;
    margin: auto;
    padding-right: 200px;
    padding-top: 20px;
}

#mapSVG{
    height: 560px;
    width: 560px;
    position: relative;
    display: block;
    margin: auto;
    padding-right: 310px;
    font-size: 11px;
}


#container {
    float: left;
    width: 40%;
    height: 600px;
    margin: 0;
    padding: 0;
}



/** Playbutton und seine Funktion **/
#Play{
    position: relative;
    display: block;
    margin: auto;
    height: 30px;
    width: 60px;
    padding-right: 240px;
    top: 16px;
}

#play-button {
    background: #ef885a;
    padding-right: 0px;
    border-radius: 3px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 12px;
    width: 60px;
    cursor: pointer;
    height: 30px;
}

#play-button:hover {
    background-color: #696969;
}    
  
.ticks {
    font-size: 10px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 500px;
    stroke: transparent;
    cursor: crosshair;
}

.track {
    stroke-opacity: 0;
  }



/** Karte Fallzahlstrahl **/
.axisWhite line, .axisWhite path{
    stroke: whiteSmoke;
}

.axisWhite text{
    fill: whiteSmoke;
}

/** Infoboxen **/
#div1, #div2, #div3 {
    position: relative;
}

#img1{
    height: 20px;
    z-index: 100;
}

#img2{
    height: 20px;
    z-index: 100;
}

#img3{
    height: 20px;
    z-index: 100;
}

#a1, #a2, #a3 {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: normal;
}

/*Image Info 1*/
#div1{
    height: 22px;
    width: 22px;
    margin: auto;
    display: block;
    padding-right: 830px;
    bottom: 230px;
}

#img1{
    height: 20px;
    z-index: 100;
}

#span1 {
    visibility: hidden;
    position: absolute;
    left: -240px;
    top: 2px;
    background: #262626;
    width: 17em;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 0.8em;
    padding: 0.3em;
    cursor: default;
    line-height: 1.4;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
}

#a1:hover #span1 {
    visibility: visible;
}

/*Image Info 2*/
#div2{
    height: 22px;
    width: 22px;
    margin: auto;
    display: block;
    padding-left: 990px;
    bottom: 260px;
}

#img2{
    height: 20px;
    z-index: 100;
}

#span2 {
    visibility: hidden;
    position: absolute;
    right: -240px;
    top: -206px;
    background: #262626;
    width: 17em;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 0.8em;
    padding: 0.3em;
    cursor: default;
    line-height: 1.4;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
}

#a2:hover #span2 {
    visibility: visible;
}

/*Image Info 3*/
#div3{
    height: 22px;
    width: 22px;
    margin: auto;
    display: block;
    padding-left: 990px;
    bottom: 82px;
}

#img3{
    height: 20px;
    z-index: 100;
}

#span3 {
    visibility: hidden;
    position: absolute;
    right: -240px;
    top: -219px;
    background: #262626;
    width: 17em;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 0.8em;
    padding: 0.3em;
    cursor: default;
    line-height: 1.4;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
}

#a3:hover #span3 {
    visibility: visible;
}


/*** Maßnahmen Legende ***/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 200px;
    color: white;
}

td, th {
    border: none;
    text-align: left;
    padding-left: 5px;
    font-family: "calibri";
}

table, tr {
    border: 1.5px solid #262626;
  }

#exampleAcc{
    text-align: right;
    padding: 5px;
}

tr {
    background-color: #262626;
}

.parentFlex {
    display: flex;
}

/** Styling of the Map Tooltip is in grafik.js **/

/** Accordion **/
/* Style the buttons that are used to open and close the accordion panel */
#AccordionFull {
    width: 300px;
    position: relative;
    display: block;
    margin: auto;
    right: 550px;
    margin-top: -75px;
    height: 1000px;
    font-family: "calibri";
}

#AccordionFull button{
    margin-top: 2px;
}

#AccordionBottom{
    margin-top: 0px
}

.accordion img{
    margin-top: -6px
}

.accordion {
    background-color: #515151;
    color: white;
    cursor: pointer;
    padding: 0px;
    width: 300px;
    height: 40px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #353535;
}

#AccDis{
    background-color: #515151;
    font-family: "calibri";
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 5px;
    background-color: #6e6e6e;
    width: 290px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: white;
    text-align: left;
    font-family: "calibri";
    font-size: 12px;
    margin-top: -18px;
}

.alignleft {
    float: left;
    font-family: "calibri";
    font-size: 12px;
    padding-left: 5px;
}

.alignright {
    float: right;
    height: 30px;
    padding-right: 5px;
    font-size: 12px;
}

.stärkeTabelle{
    font-family: "calibri";
    font-size: 12px;
}

/** Contibuter **/
#Contributer{
    height: 16px;
    width: 602px;
    position: relative;
    margin: auto;
    top: -10px;
}