h2, div, .images{

    text-align: center;
    color: white;

}

h4 {
    text-align: center;
    color: gray;
}

body{
    background-color: #262626;
}

.xaxis line, .yaxis line, .xaxis path, .yaxis path, .xaxis text, .yaxis text{
    stroke: white;
}

svg {
    position: relative;
    display: block;
    margin: 0 auto;
}

#dataWrapper{
    margin: auto;
}

#visGer{
    right: 200px;
    display: block;
}

#visRace{
    height: 500px;
    width: 500px;
    position: relative;
    display: block;
    margin-top: -520px;
    margin-left: 50%;
}

#visFall{
    height: 170px;
    width: 700px;
    position: relative;
    display: block;
    margin: auto;
    padding-right: 120px;
    padding-top: 20px;
}

#mapSVG{
    height: 560px;
    width: 560px;
    display: block;
    margin: auto;
}

#container {
    float: left;
    width: 40%;
    height: 600px;
    margin: 0;
    padding: 0;
}