h2, div, .images{
    text-align: center;

}

h4 {
    text-align: center;
    color: gray;
}

.dataWrapper{
    position: absolute;
    display: block;
}

#container {
    float: left;
    width: 40%;
    height: 600px;
    margin: 0;
    padding: 0;
}